<div class="container-full">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class="row">
      <div class="col-lg-12 text-center v-center">
        <h1>Onde você sonha morar?</h1>
        <br><br>
        <form class="col-lg-12">
          <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <input class="form-control input-lg" placeholder="Vila Madalena, São Paulo - SP" type="text" ng-model="chosenPlace">
            <span class="input-group-btn"><a class="btn btn-lg btn-primary" type="button" href="#/search/{{ chosenPlace }}">OK</button></a>
          </div>
        </form>
      </div>
    </div> <!-- /row -->


    <br><br><br><br><br>

  </div> <!-- /container full -->

  <div class="container">

    <hr>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Hello.</h3></div>
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Hello.</h3></div>
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Hello.</h3></div>
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
          </div>
        </div>
      </div>
    </div>

  </div>